
.tab-button {
  padding: 0.5rem 1.5rem;
  background: #002b4a;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
  margin: 0.5rem;
}

.tab-button:hover {
  background: #003962;
}

.tab-button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2rem 0; 
}    

.teacherStudent-tab-button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #0A1931;;
  border-radius: 8px;
  margin: 0rem;
  padding: 0.3rem 0.11rem;
}   

.tab-button.active {
  background: #0a7cff;   /* 🎨 selected colour */
  color: white;
}
